@import "../../utilities/mixins";
@import "../../utilities/variables";

.selection_display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  align-items: center;
  border-radius: 10px;
  img {
    display: block;
    max-width: 90%;
    max-height: 200px;
    width: auto;
    height: auto;
    padding: 0.5em;
    // @include for-tablet-portrait-up {
    //   width: 20%;
    // }
  }
  .card-body {
    width: 100%;
    background-color: navy;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .card-title {
    font-size: 4vw;
    color: white;
    text-align: center;
  }
  &:nth-of-type(1) {
    margin-bottom: 2rem;
  }
}
